.App {
  text-align: center;

}
.main-nav {
  background: rgba(0, 88, 124, .9);
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .45);
  text-align: center;
  margin: 0;
  padding: 20px 0;
  position: relative;
  z-index: 10;
}

.link-nav{
  list-style: none;
  display: inline-block;
  margin: 0 60px;
  color: #ffffff;
}
.link-nav:hover{
  color: #cdcdcd;
  cursor: pointer;
}
.main-div{
  display: flex;
  justify-content: space-between;
}
.div-movie{
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 15px;
  width: 250px;
  height: 400px;
}
.div-movie:hover{
  transform: scale(1.1)

}
.movies-block{
  border: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
}
img{
  width: 100%;
  height: 300px;
  cursor: pointer;

}
h5{
  font-size: 14px;
  margin: 0;
  height: 28px;
  padding: 17px;
  vertical-align: middle;
  background: #02558b;
  border-radius: 1px;
}
.footer-nav{
  background: #007EB0;
  text-align: center;
  margin: 0;
  padding: 15px 0;
  font-size: 10px;
}
.title{
  margin: 5px 0;
  padding: 7px 3px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .45);
  text-align: center;
}
.main-bar{
  text-align: left;
  padding: 5px 0;
  background: #e7f0f9;
  width: 30%;
}
h6{
  font-size: 14px;
  color: #381414f5;
  margin: 0;
  padding: 10px 20px;
  cursor: pointer;
}
h6:hover{
   font-size: 15px;
 }